h1{
    color: red;
}

.header{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.header span{
    font-size: 35px;
    font-weight: 600;
    margin-right: 10px;
}

.header img{
    height: 80px;
    width: auto;
}

.messages{
    display: flex;
    align-items: end;
    border: 2px solid black;
    width: 60vw;
    height: 70vh;
    margin: auto;
    overflow-y: scroll;
}

.messages .inner-messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid red;
    overflow-y: scroll;
}

.messages .inner-messages .message{
    width: fit-content;
    max-width: 80%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px
}

.messages .inner-messages .your-message{
    background-color: cyan;
    align-self: flex-end;
}

.messages .inner-messages .other-message{
    background-color: gray;
}