<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/img/htmx-logo-nobg.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/index.css">
        
        <!-- Alpine.js -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>

        <!-- Centrifuge js, for real time communication -->
        <script type="text/javascript" src="https://unpkg.com/centrifuge@^5/dist/centrifuge.js"></script>

        <!-- HTMX, for element swapping and server rendered content. -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>

        <!-- My js file for centrifuge functionality -->
        <script src="../static/js/index.js"></script>
        <title>HTMX Messenger</title>
    </head>
    <body>
        <div class="header">
            <span>HTMX Messenger</span> 
            <img src="../static/img/htmx-logo.png" alt="">
        </div>
        <div class="messages">
            <div class="inner-messages">
                <div class="message your-message">hello</div>
                <div class="message other-message">hi bro</div>
                <div class="message other-message">hi brocfbhxednbucxedxbwsz</div>
                <div class="message your-message">hello</div>
                <div class="message other-message">hi brocfbhxednbucxedxbwsz</div>
            </div>
        </div>
        <div class="input-wrapper">
            <input type="text" placeholder="Enter message">
            <button>Submit</button>
        </div>
    </body>
</html>